@import 'vars.scss';

#container {
    height: calc(100vh - 2rem);
    display: flex;
    flex-flow: column;
    margin: 1rem;
    background: $fg;
    border-radius: 10px;

    @media screen and (min-width: $md) {
        flex-flow: row;
        height: calc(100vh - 10rem);
        margin: 5rem;
    }

    & > div {
        overflow: auto;
        max-width: 100%;
        margin: 1rem;

        @media screen and (min-width: $md) {
            min-width: 25%;
            max-height: 100%;
        }

        &:nth-child(1) {
            display: flex;
            height: 4rem;

            @media screen and (min-width: $md) {
                flex-flow: column;
                width: 25%;
                height: auto;
            }

            .section {
                min-width: 75%;
                padding: 1.5em 0;
                display: flex;
                cursor: pointer;
                align-items: center;

                svg {
                    visibility: hidden;
                }

                &:hover {
                    background-color: $highlight;
                }

                &.active {
                    svg {
                        visibility: visible;
                    }
                }
                
                &:not(:first-child) {
                    border-left: 1px solid $secondary;
                    
                    @media screen and (min-width: $md) {
                        border-left: 0;
                        border-top: 1px solid $secondary;
                    }
                }
            }
        }
    }
}