@import 'vars.scss';
$margin: 1.5rem;


#container {
    display: none;
    align-items: stretch;
    height: calc(100vh - 5rem);
    margin: 4rem $margin 1rem;

    @media screen and (min-width: $md) {
        display: flex;
    }

    &.split {
        & > div:nth-child(2):hover {
            cursor: col-resize;
        }

        .split {
            & > div:nth-child(2):hover {
                cursor: row-resize;
            }
        }
    }

    & > div:not(:nth-child(2)) {
        padding: $margin;
        padding-bottom: 0;

        &:nth-child(1) {
            padding-right: 0;
        }

        &:nth-child(3) {
            padding-left: 0;
        }
    }


    .tab {
        display: inline-block;
        color: #eee;
        padding: 0.75rem 1.5rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: $fg;

        &#run {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background: $green_dark;
            float: right;

            svg:nth-child(2) {
                display: none;
                animation: rotate 1s ease-in-out infinite forwards;

                @keyframes rotate {
                    from {
                        transform: rotateZ(0deg);
                    }

                    to {
                        transform: rotateZ(360deg);
                    }
                }
            }

            &:hover {
                background: $green_light;
            }

            &.running {
                pointer-events: none;
                cursor: not-allowed;

                svg:nth-child(1) {
                    display: none;
                }

                svg:nth-child(2) {
                    display: initial;
                }
            }
        }
    }
    
    #editor, #output, #input {
        background: $fg;

        &:not(#output) {
            height: calc(100% - $margin - $margin - 1rem);
        }
        
        &, & > div, & > div > div {
            border-radius: 10px;
            border-top-left-radius: 0;
        }

        & > * {
            user-select: initial;
        }
    }

    #editor {
        &, & > div, & > div > div {
            border-top-right-radius: 0;
        }
        
        & > div > div > div:nth-child(2) div {
            font-family: 'Fira Code' !important;
        }
    }

    #input, #output {
        overflow-y: auto;
        padding: 10px $margin calc($margin - 10px);

        &#output {
            padding-top: 10px;
            padding-bottom: 0;
            font-family: 'Fira Code';
            margin: 0;

            height: calc(100% - 10px - $margin - $margin - 1rem);

            &.error {
                color: red
            }

            white-space: pre-wrap;
        }

        &:focus-visible {
            outline: 0;
        }
    }
}


#unsupported {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 4rem);
    padding: 1rem;

    @media screen and (min-width: $md) {
        display: none;
    }

    text-align: center;
    font-size: 20px;
}