$bg: #0e1425;
$fg: #1c2332;

$operator: #e26d4f;
$number: #ffb056;
$keyword: #ec87cb;
$type: #ecdb87;
$var: #79c7c5;
$comment: #7f7f7f;

$highlight: #171d2b;

$secondary: #c0c0c0;
$secondary_light: #efefef;

$green_dark: #044911;
$green_light: #009118;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;